* {
	font-family: Monospace;
}

body {
	margin: 0;
}

h1 {
	position: absolute;
	margin-top: 3%;
	margin-left: 7.5%;
	color: white;
	z-index: 2;
}

canvas {
	position: absolute;
	top: 0;
	z-index: -1;
}

#mainHeader {
	width: 96%;
	padding: 2%;
	background-color: #C0C0C0;
	opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

#mainHeader ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	margin-left: 25%;
}

#mainHeader li {
	float: left;
	display: inline;
	margin-left: 0;
	padding: 10px;
	right: 0;
}

#mainHeader li a {
	display: block;
	text-align: center;
	padding: 8px 11px;
	text-decoration: none;
	background-color: black;
	color: gray;
	font-size: 1.1rem;
	font-weight: bold;
}

#mainHeader li a:hover {
	color: white;
}

#mainMenu {
	background-color: black;
	width: 100%;
	z-index: 9999;
}

#mainNote {
	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;
	padding: 35%;
	margin-left: 5%;
	margin-right: 5%;
	background-color: rgba(0,0,0,0.2);
}

#mainNote p {
	color: #DCDCDC;
}