* {
	font-family: Monospace;
}

body {
	margin: 0;
	background-color: #191919; /* same color as animation background */
}

/* put the animation at the back, stuck in place, stuck to the top of the doc */
canvas {
	position: fixed;
	top: 0;
	z-index: -1;
}

h1 {
	margin: 0;
	padding: 0;
	color: white;
}

h2 {
	color: rgba(255,255,255,0.75);
}

/* h1 is always white unless hovered over */
h1:hover {
	color: gray;
}

/* remove the default underline */
a {
	text-decoration: none;
}

/* next five rules apply to the footer */
html, body {
	height: 100%;
}

.nonFooterContent {
	min-height: 100%;
	margin-bottom: -30px;
}

.nonFooterContent:after {
	content: "";
	display: block;
}

.mainFooter {
	font-weight: bold;
}

.mainFooter, .nonFooterContent:after {
	height: 30px;
}

.mainFooter, #mainHeader {
	background: #999999;
	opacity: 0.80;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.mainFooter span {
	float: right;
	margin-right: 10%;
	margin-top: 10px;
}

.mainFooter a {
	color: black;
	text-decoration: underline;
}

#mainHeader {
	position: relative;
	width: 100%;
	padding-top: 11%;
}

/* lays partially on top of light-gray rectangle header */
#mainMenu {
	position: relative;
	background-color: black;
	width: 96%;
	margin: -9% 2% 2% 2%;
}

/* remove default list styling(ew) and any pre-existing offsets */
#mainMenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* this is for marking of the current page */
#mainMenu li #activePage {
	color: white;
}

/* the current page is always marked as white, so if we hover it, we want gray */
#mainMenu li #activePage:hover {
	color: gray;
}

/* non active links are gray, so if we hover we want white */
#mainMenu li a:hover {
	color: white;
}

#mainMenu li a {
	display: block;
	color: gray;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 10px;
}

#mainMenu li {
	background-color: black;
	float: left;
	display: inline-block;
	margin-left: 0;
	padding: 3%;
	text-align: center;
	width: 5%;
}

.mainMenuChatPageONLYListItems {
	/* keep !important use to a minimum, only use it when needed and
		when it wont affect future devs */
	width: 15% !important;
}

/* this is h1 in this instance, and i want room for the larger text */
#mainMenu li:first-of-type {
	width: 18%;
	padding: 3% 9% 3% 3%;
	white-space: nowrap;
}

/* extra padding on the right side for the last list item in the menu */
#mainMenu li:last-of-type {
	padding: 3% 6% 3% 3%;
}

#mainBody a, #openBody a {
	text-decoration: none;
	color: rgba(255,255,255,0.7);
}

#mainBody a:hover, #openBody a:hover {
	color: rgba(255,255,255,0.9);
}

#openBody {
	padding: 1% 5% 5% 5%; /* more space on all sides but top */
	margin-right: 10%;
	margin-top: 2%;
}

#mainBody {
	padding: 1% 5% 5% 5%; /* more space on all sides but top */
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: -1%;
	background-color: rgba(0,0,0,0.80);
}

/* our paragraphs in the main body are always indented and spaced */
/* apart from our menu items and default h3 settings, our other stuff
	is always white, or should be, at least */
#mainBody p, #mainBody li, #mainBody h3 {
    text-indent: 50px;
    line-height: 25px;
    font-size: 1.1em;
	color: #DCDCDC;
}

#mainBody {
	padding-top: 3%;
}

.dropdown {
	color: black;
    position: relative;
    display: inline;
}

.dropdown p {
	color: black;
}

/* same styling as #mainMenu "li a" for now */
.dropdown span {
	display: block;
	color: gray;
	font-size: 1.1em;
	font-weight: bold;
	line-height: 10px
}

/* had to single out the tabs to separate selections between the tabs 
	and the dropdown-content */
.dropdown:hover .menuDropdownTab {
	color: white;
}

/* hovering a .dropdown class item will make the dropdown-content within it show */
.dropdown:hover .dropdown-content {
    display: block;
}

/* this works better than the above because the mouse can then reach
	.dropdown-content, even with some margin */
#mainMenu li:hover .dropdown-content {
    display: block;
}

.dropdown-content {
	margin-top: 17px;
	min-width: 200px;
	padding: 12.5% 0;
}

/* drops down less because chat iframe is there */
#chatPageDropdownContent {
	margin-top: 8px;
}

.dropdown-content span {
	padding: 5%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: black;
}

.dropdown-content span:hover {
	color: gray;
}

.dropdown p:hover {
	color: gray;
}

.dropdown-content span {
	color: black;
	font-size: 1em;
	font-weight: normal;
	line-height: 0;
}

/* thank to who suggested this @ A100 */
hr.fadingStyle {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

/* flips the go icon a quarter ways around */
.goIcon {
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

/* close and open button goes on the right side */
#closeBody, #openBody {
	float: right;
	font-size: 1.5em;
	font-weight: bold;
}

#inlineElement {
	display: inline;
}

#openBody {
	display: none;
}

/* cleans floats */
.clearfix {
  overflow: auto;
}

#chatFrame {
	z-index: -1;
	margin-top: 2%;
}

/* responsive to different device sizes */
@media (max-width: 800px) {
    html {
    	font-size: 85%;
    	line-height: 70%;
    }

    .dropdown-content {
		min-width: 225px;
		padding: 10px 10px 10px 15px;
		background-color: black;
		color: white;
		margin-top: 10px;
	}

	.dropdown {
		color: white;
	    position: relative;
	    display: inline;
	    z-index: 5;
	}

	.dropdown p {
		color: white;
		font-size: 0.8em;
		padding: 5px;
	}

	/* same styling as #mainMenu "li a" for now */
	.dropdown span {
		display: block;
		color: black;
		font-size: 1.1em;
		font-weight: bold;
		line-height: 10px
	}

	#mobileMenuList li a {
		color: black;
		font-weight: bold;
		font-size: 1.1em;
	}

	#mobileMenuList li {
		list-style-type: none;
		height: 50px;
		width: 50%;
	}

	#mobileMenuList li a:hover, #mobileMenuList li span:hover {
		color: gray !important;
	}

	#mobileMenuList a span {
		color: white;
		font-size: 0.8em;
	}

	#mobileMenuList hr {
		border-color: white;
		background-color: white;
		color: white;
	}

	#mobileMenuList .dropdown:hover .menuDropdownTab {
		color: gray;
	}

	#wideMenu {
		display: none;
	}

	#shortMenu {
		display: block !important;
	}
}

@media (min-width: 801px) {
    html {
    	font-size: 100%;
    	line-height: 100%;
    }

    .dropdown-content {
		min-width: 200px;
	}

	#wideMenu {
		display: block;
	}

	#shortMenu {
		display: none;
	}

	#mobileMenu, #mobileMenuList {
		display: none !important;
	}
}

#shortMenu {
	display: none;
	padding: 4%;
}

#shortMenu h1 {
	width: 50%;
}

#shortMenu a:hover {
	color: white;
}

#openMobileMenu {
	float: right;
	color: gray;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 0;
}

#mobileMenu {
	display: none;
	position: fixed;
	background-color: white;
	width: 90%;
	height: 100%;
	right: 5%;
	z-index: 2;
}

#closeMobileMenu {
	float: right;
	font-size: 2em;
	font-weight: bold;
	padding: 3%;
}

#mobileMenuList ul {
	padding: 0;
	margin: 0;
	width: 100%;
}

#mobileMenuList li {
	padding: 3%;
	margin: 0 10% 0 0;
	font-size: 2em;
}

/* add a margin to the top if it's not the first blog post */
/* don't add a margin if it's the second blogpost child */
/* the first one is the close x for the main body */
.blogpost:not(:nth-child(2)) {
	margin-top: 25px;
}

/* add a margin at the bottom if it's not the last blog post */
.blogpost:not(:last-child) {
	margin-bottom: 25px;
}

.nextPage {
	float: right;
}