* {
	font-family: Monospace;
}

body {
	margin: 0;
	overflow: hidden;
}

h1 {
	position: absolute;
	margin: 0;
	padding: 0;
	color: white;
	z-index: 2;
}

canvas {
	position: absolute;
	top: 0;
	z-index: -1;
}

a {
	text-decoration: none;
}

#mainHeader {
	width: 96%;
	padding: 2%;
	background-color: #C0C0C0;
	opacity: 0.65;
    filter: alpha(opacity=65); /* For IE8 and earlier */
}

#mainHeader ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#mainHeader li {
	background-color: black;
	float: left;
	display: inline;
	margin-left: 0;
	padding: 2%;
	right: 0;
}

#mainHeader li a {
	display: block;
	text-align: center;
	padding: 8px 11px;
	color: gray;
	font-size: 1.1rem;
	font-weight: bold;
}

#mainHeader li a:hover {
	color: white;
}

#mainMenu {
	background-color: black;
	width: 100%;
	z-index: 9999;
}

#mainNote {
	border-bottom-left-radius: 10%;
	border-bottom-right-radius: 10%;
	padding-left: 5%;
	padding-right: 5%;
	margin-left: 10%;
	margin-right: 10%;
	height: 500%;
	background-color: rgba(0,0,0,0.2);
}

#mainNote p {
	font-size: 1.1rem;
	color: #DCDCDC;
}

.dropdown {
	color: gray;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#keepRight {
	float:right;
	margin-right:5%;
}
