* {
  font-size: 1em;
  font-family: sans-serif;
}

li {
  list-style-type: disc;
  list-style-image: none;
  margin: 5px;
}

.namelabel, .sectionlabel {
  border-bottom: #cccccc 1px solid;
  font-size: 120%;
  margin-bottom: 5px;
  width: 100%;
}

.namelabel {
  font-weight: bold;
}

table.template td {
  color: #000000;
}

body {
  background: #E0EEEE;
  margin: 3%;
}

td {
  background: transparent;
  color: #000000;
}

#sectiontitle {
  color: #000000;
  width: 100%;
}

a {
  text-decoration: underline;
  color: black;
}